###
# List of methods/modules and their dependencies:
###
modules:
    - name: array_ops
    - name: bayes
    - name: conjugate_gradient
      depends: ['array_ops']
#    - name: decision_tree
#      depends: ['svec','array_ops']
    - name: kmeans
      depends: ['svec']
    - name: kernel_machines
      depends: ['svec']
    - name: plda
    - name: prob
#    - name: profile
#      depends: ['sketch']
    - name: quantile 
    - name: regress
#    - name: sketch
    - name: svd_mf
    - name: svec
